<html>

<head>
    <title>Degree</title>
</head>

<body>
    <fieldset>
        <legend>Degree</legend>
        <form method="post" action="bloodGroup.html" name="degreeForm" onsubmit="return validateDegreeForm();">
            <h3>Degree</h3>
            <div class="textBox">
                <input type="checkbox" id="degree" name="degree1">SSC
                <input type="checkbox" id="degree" name="degree2">HSC
                <input type="checkbox" id="degree" name="degree3">BSc
            </div>
        </div>
        <div class="submitButton"><input type="submit" name="submit" id="submit" value="submit"></div>
        <script src="../JS/script.js"></script>
    </form>
</fieldset>
</body>

</html>