<html>

<head>
    <title>email</title>
</head>

<body>
    <form method = "post" action= "gender.html" name="emailForm" onsubmit="return validateEmailForm();">
        <h3>Email</h3>
        <div class="textBox"><input type="text" id="email" name="email">
            <input type="submit" class="info" value="i" title="hint: abc@example.com">
        </div>
        <div class="submitButton"><input type="submit" name="submit" id="submit" value="submit"></div>
        <script src="../JS/script.js"></script>
    </form>
</body>

</html>