<html>

<head>
    <title>Gender</title>
</head>

<body>
    <fieldset>
        <legend>Gender</legend>
        <form method="post" action="dob.html" name="genderForm" onsubmit="return validateGenderForm();">
            <h3>Gender</h3>
            <div class="textBox">
                <input type="radio" id="gender" name="gender">Male
                <input type="radio" id="gender" name="gender">Female
                <input type="radio" id="gender" name="gender">Others
            </div>
            <div class="submitButton"><input type="submit" name="submit" id="submit" value="submit"></div>
            <script src="../JS/script.js"></script>
        </form>
    </fieldset>
</body>

</html>